html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #99d5ff;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
    height: 39px;
    margin: 5px;
    width: auto;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    width: 415px;
    height: 415px;
    margin: 0 auto;
    padding: 3px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: beige;
    overflow: hidden;
    position: relative;
}

.puzzle__block-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color:#333c6b;
    opacity: .7;
    display: none;
}

.puzzle__cell {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid black;
    transition: .55s ease-out;
    position: relative;
    top: 0px;
    left: 0px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 33px;
    background-color: aliceblue;
}

.puzzle__main-buttons-wrap {
    display: flex;
}

.win-window {
    position: absolute;
    width: 300px;
    height: 225px;
    background-color: #cdffc9;
    z-index: 3;
    border: 3px solid black;
    border-radius: 10px;
    top: 0;
    left: 0;
    bottom: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
}

.win-window__inputName {
    width: 95%;
    height: 31px;
    font-size: 3vw;
    border-radius: 10px;
    border: 3px solid black;
    padding-left: 5px;
}

.win-window__apply-button {
    font-size: 3vw;
    margin: 6px 0 0 0;
}


.item-0 {
    visibility: hidden;
}

p {
    font-size: 3vw;
    margin: 0 0 5px 0;
}

.puzzle__size-buttons {

    margin-top: 10px;
}



.active{
    display: block;
}

.block-all {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.results-window {
    position: absolute;
    width: 300px;
    height: 285px;
    background-color: #cdffc9;
    z-index: 3;
    border: 3px solid black;
    border-radius: 10px;
    top: 0;
    left: 0;
    bottom: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-window__player-info {
    font-size: 14px;
}